@import 'settings';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $primary-font;
  font-size: $m-size;
  line-height: 1.2;
}

main {
  position: relative;
  overflow: hidden;
}
